body{
  background:#EFEFEF;
  margin: 0;
}
a{
  //  color:inherit; 
  //  color:black;
  // color: 	#696969;
  color: #a8b2bd;
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
}
hr{
  height: 0;
  border: none;
  border-top: 1px solid #dedede;
}
main{
  margin-top: -200px;
}
ul,ol{
  list-style:none;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.topNavBar{
    padding-top: 20px 16px 20px 16px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
.topNavBar-inner{
  padding: 0  16px;
}
.topNavBar .logo {
  font-family: "Hiragino Kaku Gothic Std";
  font-size: 23px;
  padding-top: 26px;
}
.topNavBar .logo .rs{
  color: #e6686a;
  margin-right: 4px;
}
.topNavBar .logo .card{
  color: #9A9DA2;
}

.topNavBar nav {
  padding-top: 35px; 
}
.topNavBar nav >a{
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-weight: bold;
}
.topNavBar nav >ul{
  list-style: none;
  padding: 0; 
  margin: 0;
}
.topNavBar nav> ul>li{
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}
.topNavBar nav> ul>li>a{
  border-bottom: 3px solid transparent;
  // transform: all 0.5s;
}
.topNavBar nav> ul>li>a:hover{ 
  border-bottom-color: rgba(218, 17, 17, 0.842);
}
.banner{
  height: 515px;
  background-image: url(../img/rs-cover.jpg);
  background-position: center center;
  background-size: cover;
}
.banner .mask{
  height: 515px;
  background-color: rgba(0,0,0,0.7);

}
.usercard{
/* border: 1px solid red; */
max-width: 940px;
margin-left:auto ;
margin-right: auto;
background-color: #FFFFFF;
box-shadow: 1px -1px 21px 0px rgba(20,9,20,0.62);
}
.usercard .welcome{
  background:#E6686A;
  color: white;
  display: inline-block;
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
  margin-bottom: 10px;
  /* width: 70px; */
  /* height: 29px; */
  /* line-height: 29px; */
  /* text-align: center; */
}
 /* hello下的三角形 */
 .usercard .welcome .triangle{                        
  display: block;
  border: 8px solid transparent;
  width: 0px;
  /*height: 0px; */
  border-left-color:#E6686A;
  /* border-right-color: transparent; */
  /* border-top-color: green; */
  /* border-bottom-color: transparent; */
  /* border: 0px; */
  position: absolute;
  left: 4px;
  top: 100%;
  border-top-width: 0px;
}
.usercard .picture{
  float: left;
}
.usercard .text{
  float: left;
  margin-left: 65px;
  width: 470px;
}
.usercard .text h1{
  margin-top: 18px;
}
.usercard .text hr{
  margin:20px 0;
}
.usercard .pictureAndText{
  padding: 50px;
}
.usercard dl dt,
.usercard dl dd{
  float: left;
  padding: 5px 0;
}
.usercard dl dt{
  width: 30%;
  font-weight: bold;
}
.usercard dl dd{
  width: 70%;
  color: #9da0a7;
}
.usercard > footer.media{
  background:#e6686a;
  text-align: center;

}
.usercard > footer.media > a{
/* border: 1px solid black; */
display: inline-block;
border-radius: 50%;
line-height: 30px;
widows: 40px;
padding: 5px 0;
margin: 16px 16px;
}
.usercard > footer.media > a:hover{
  background: #cf505f;
}
.usercard svg{
  width: 30px;
  height: 30px;
  fill: black;
  vertical-align: top;
}
body .downloadresume-wrapper{
  text-align: center;
}
body .downloadresume{
  font-size: 14px;
  line-height: 16px;
  padding: 21px 55px;
  border: 1px solid rgba(188, 191, 194, 0.801);
  background-color: #f1ececd5;
  display: inline-block;
  border-radius: 3px;
  color: #3d4451;
  font-weight: bold;
  margin: 32px 0;
  transition: box-shadow 0.4s;

}
body .downloadresume:hover{
  box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.4);
}
body .selfintroduction{
  max-width: 550px;
  margin-left:auto ;
  margin-right: auto;
  text-align: center;
  font-size: large;
  font-family: cursive;
}
body > div > p > span {
  font-size: 25px;
  font-weight: bolder;
}
section.skills,
section.portfolio{
  margin-top: 70px;
  max-width: 940px;
  margin-left:auto ;
  margin-right: auto;
}
section.portfolio > h2,section.skills > h2{
  text-align: center;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
  color: #3d4451;
}
section.skills h3{
  font-size: 14px;
  line-height: 1.1;
  padding-right: 40px;
}
section.skills > ol{
  margin-top: 30px;
  background: white;
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.342);
  padding: 45px 50px 10px;
}
section.skills > ol>li{
  float: left;
  width: 48%;
  box-sizing: border-box;
  padding-right: 32px;
}
section.skills > ol>li:nth-child(even){
  //  background: red;
  float:right;
}
section.skills > ol>li:nth-child(odd){
  // background: green;
  float: left;
}
section.skills .progressbar{
  height: 5px;
  background: #fae1e1;
  border-radius: 2px;
  margin: 4px 0 40px;
}
section.skills .progressbar .progress1{
  width: 70%;
  height: 100%;
  background:#e6686a;
}
section.skills .progressbar .progress2{
  width: 60%;
  height: 100%;
  background:#e6686a;
}
section.skills .progressbar .progress3{
  width: 30px;
  height: 100%;
  background:#e6686a;
}
section.skills .progressbar .progress4{
  width: 55%;
  height: 100%;
  background:#e6686a;
}
section.skills .progressbar .progress5{
  width: 70%;
  height: 100%;
  background:#e6686a;
}
section.skills .progressbar .progress6{
  width: 80%;
  height: 100%;
  background:#e6686a;
}
section.portfolio{
  text-align: center;
  margin-bottom: 100px;
}
section.portfolio > nav{
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
}
section.portfolio > nav > ol{
  // border: 1px solid;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}
section.portfolio > nav > ol > li{

  float: left;
  margin-left: 40px;
  cursor: pointer;

}
section.portfolio > nav > ol > li:first-child{
  margin-left: 0;
}
section.portfolio > nav .bar{
height: 5px;
background: white;
margin-top: 12px;
margin-bottom: 28px;
border-radius: 2px;
}
section.portfolio > nav .bar .inner{
height: 100%;
background: #e6686a;
width: 20%;
transition: all 0.5s;
// margin-left: 155px;
// margin-left: 75px;
}
section.portfolio nav .bar.state-1 .inner{
  margin-left: 0;
  width: 60px;
}
section.portfolio nav .bar.state-2 .inner{
  margin-left: 65px;
  width: 50px;
}
section.portfolio nav .bar.state-3 .inner{
  margin-left: 137px;
  width: 97px;
}
section.portfolio .works{
position: relative;
// border: 1px solid red;
}
section.portfolio .works > .big,
section.portfolio .works > .small{
position: absolute;
}